.heading {
  text-align: center;
  margin-top: 20px;
}
.description {
  text-align: center;
  margin-bottom: 30px;
  font-size: 18px;
  color: #555;
}
.moods {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  padding: 0;
}
.moods_heading {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 15px;
}
.moods p {
  font-size: 18px;
  color: #555;
  margin: 10px 0;
}
.moods button {
  margin: 5px;
  padding: 12px 24px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}

.mood-selector {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-bottom: 20px;
}
.mood-selector h2 {
  font-size: 20px;
  color: #333;
}
.mood-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding-left: 0;
  border: none;
  border-radius: 5px;
}
.mood-selector button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
}
